.bg-Pur {
  background-color:  #e6e4e9 !important;
}
.Dark-Purple {
  background-color: #634ba5dd !important;
}
.Green {
  background-color: #1AD079 !important;
}
 .bg-Text {
  color: #7444FD !important;
 }
.bg-app {
  background-color: #8670E5;
}
